html, body {
	height: 100%;
	margin: 0;

	font-family: "Quicksand", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
	font-size: 16px;

	background: rgba(250, 250, 250, 1.0)
	

}



.border {
	border-right: 2px solid rgba(100,100,100,.2);
	box-sizing: border-box;
/*border-image: linear-gradient(to bottom,transparent 0%,lightgray 0%,lightgray 30%,transparent 70%) 1;*/
}
